In [11]:
import miceforest as mf
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("./data_format/data0.csv")
for i in range(1, 10):
    filename = "./data_format/data"+str(i)+".csv"
    curr = pd.read_csv(filename)
    data = data.append(curr, ignore_index=True)

In [13]:
data

,Unnamed: 0,temp,humidity,PM25,SO2,partical,light,band1,band2,band3,band4,band5,band6,band7,dist_to_cent,tod,dss,year
0,0,27.6130,44.7610,NaN,0.000,NaN,16.7880,12431.666667,13346.666667,15138.333333,15609.666667,18002.333333,18244.000000,16106.666667,0.146792,905,2,2018
1,1,23.1775,76.4100,NaN,0.112,NaN,42.2135,10858.604167,11400.708333,12351.395833,12788.937500,14684.520833,15126.562500,13924.645833,0.160694,1265,3,2018
2,2,19.8890,82.5070,NaN,-0.188,NaN,54.0540,10666.125000,11290.916667,11998.750000,12526.291667,13784.875000,14593.083333,13688.333333,0.106742,1215,0,2018
3,3,27.6340,42.4955,NaN,0.000,NaN,1.1670,12429.625000,13341.125000,15080.750000,15566.375000,18005.500000,18236.875000,16074.375000,0.146792,645,4,2018
4,4,126.9350,100.0000,NaN,NaN,NaN,NaN,10539.312500,11079.500000,11969.375000,12338.937500,13930.812500,14710.437500,13848.937500,0.052896,755,7,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839922,81136,126.9350,100.0000,NaN,NaN,NaN,NaN,10364.250000,10904.500000,11553.250000,11857.750000,13721.500000,14185.000000,13112.500000,0.052896,425,94,2018
839923,81137,17.2730,100.0000,NaN,-0.143,NaN,NaN,9888.770833,10411.541667,11762.729167,12221.500000,13864.687500,14261.541667,12940.458333,0.164218,1035,93,2018
839924,81138,25.9540,48.9140,NaN,NaN,NaN,25.0870,10404.916667,10954.208333,12037.333333,12421.166667,13484.875000,14741.291667,13607.250000,0.118475,1045,92,2018
839925,81139,22.4645,73.9320,NaN,0.039,NaN,12.7880,8300.833333,8193.500000,8192.500000,7772.833333,7687.500000,7392.666667,7187.166667,0.143288,325,90,2018
839926,81140,20.3190,100.0000,NaN,0.132,NaN,NaN,9742.250000,10202.000000,10931.750000,11228.500000,12888.500000,13146.750000,12211.500000,0.104955,855,94,2018

In [14]:
df = data.drop('Unnamed: 0', 1)
df

,temp,humidity,PM25,SO2,partical,light,band1,band2,band3,band4,band5,band6,band7,dist_to_cent,tod,dss,year
0,27.6130,44.7610,NaN,0.000,NaN,16.7880,12431.666667,13346.666667,15138.333333,15609.666667,18002.333333,18244.000000,16106.666667,0.146792,905,2,2018
1,23.1775,76.4100,NaN,0.112,NaN,42.2135,10858.604167,11400.708333,12351.395833,12788.937500,14684.520833,15126.562500,13924.645833,0.160694,1265,3,2018
2,19.8890,82.5070,NaN,-0.188,NaN,54.0540,10666.125000,11290.916667,11998.750000,12526.291667,13784.875000,14593.083333,13688.333333,0.106742,1215,0,2018
3,27.6340,42.4955,NaN,0.000,NaN,1.1670,12429.625000,13341.125000,15080.750000,15566.375000,18005.500000,18236.875000,16074.375000,0.146792,645,4,2018
4,126.9350,100.0000,NaN,NaN,NaN,NaN,10539.312500,11079.500000,11969.375000,12338.937500,13930.812500,14710.437500,13848.937500,0.052896,755,7,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839922,126.9350,100.0000,NaN,NaN,NaN,NaN,10364.250000,10904.500000,11553.250000,11857.750000,13721.500000,14185.000000,13112.500000,0.052896,425,94,2018
839923,17.2730,100.0000,NaN,-0.143,NaN,NaN,9888.770833,10411.541667,11762.729167,12221.500000,13864.687500,14261.541667,12940.458333,0.164218,1035,93,2018
839924,25.9540,48.9140,NaN,NaN,NaN,25.0870,10404.916667,10954.208333,12037.333333,12421.166667,13484.875000,14741.291667,13607.250000,0.118475,1045,92,2018
839925,22.4645,73.9320,NaN,0.039,NaN,12.7880,8300.833333,8193.500000,8192.500000,7772.833333,7687.500000,7392.666667,7187.166667,0.143288,325,90,2018
839926,20.3190,100.0000,NaN,0.132,NaN,NaN,9742.250000,10202.000000,10931.750000,11228.500000,12888.500000,13146.750000,12211.500000,0.104955,855,94,2018

In [15]:
df["partical"] = 0
df

,temp,humidity,PM25,SO2,partical,light,band1,band2,band3,band4,band5,band6,band7,dist_to_cent,tod,dss,year
0,27.6130,44.7610,NaN,0.000,0,16.7880,12431.666667,13346.666667,15138.333333,15609.666667,18002.333333,18244.000000,16106.666667,0.146792,905,2,2018
1,23.1775,76.4100,NaN,0.112,0,42.2135,10858.604167,11400.708333,12351.395833,12788.937500,14684.520833,15126.562500,13924.645833,0.160694,1265,3,2018
2,19.8890,82.5070,NaN,-0.188,0,54.0540,10666.125000,11290.916667,11998.750000,12526.291667,13784.875000,14593.083333,13688.333333,0.106742,1215,0,2018
3,27.6340,42.4955,NaN,0.000,0,1.1670,12429.625000,13341.125000,15080.750000,15566.375000,18005.500000,18236.875000,16074.375000,0.146792,645,4,2018
4,126.9350,100.0000,NaN,NaN,0,NaN,10539.312500,11079.500000,11969.375000,12338.937500,13930.812500,14710.437500,13848.937500,0.052896,755,7,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839922,126.9350,100.0000,NaN,NaN,0,NaN,10364.250000,10904.500000,11553.250000,11857.750000,13721.500000,14185.000000,13112.500000,0.052896,425,94,2018
839923,17.2730,100.0000,NaN,-0.143,0,NaN,9888.770833,10411.541667,11762.729167,12221.500000,13864.687500,14261.541667,12940.458333,0.164218,1035,93,2018
839924,25.9540,48.9140,NaN,NaN,0,25.0870,10404.916667,10954.208333,12037.333333,12421.166667,13484.875000,14741.291667,13607.250000,0.118475,1045,92,2018
839925,22.4645,73.9320,NaN,0.039,0,12.7880,8300.833333,8193.500000,8192.500000,7772.833333,7687.500000,7392.666667,7187.166667,0.143288,325,90,2018
839926,20.3190,100.0000,NaN,0.132,0,NaN,9742.250000,10202.000000,10931.750000,11228.500000,12888.500000,13146.750000,12211.500000,0.104955,855,94,2018

In [16]:
curr_mice = mf.KernelDataSet(
  df,
  save_all_iterations=True,
  random_state=1991
)

In [17]:
curr_mice.mice(3)

In [18]:
completed_data = curr_mice.complete_data()

In [19]:
completed_data

,temp,humidity,PM25,SO2,partical,light,band1,band2,band3,band4,band5,band6,band7,dist_to_cent,tod,dss,year
0,27.6130,44.7610,1.031,0.000,0,16.7880,12431.666667,13346.666667,15138.333333,15609.666667,18002.333333,18244.000000,16106.666667,0.146792,905,2,2018
1,23.1775,76.4100,0.500,0.112,0,42.2135,10858.604167,11400.708333,12351.395833,12788.937500,14684.520833,15126.562500,13924.645833,0.160694,1265,3,2018
2,19.8890,82.5070,14.220,-0.188,0,54.0540,10666.125000,11290.916667,11998.750000,12526.291667,13784.875000,14593.083333,13688.333333,0.106742,1215,0,2018
3,27.6340,42.4955,0.797,0.000,0,1.1670,12429.625000,13341.125000,15080.750000,15566.375000,18005.500000,18236.875000,16074.375000,0.146792,645,4,2018
4,126.9350,100.0000,1.979,0.307,0,63.1870,10539.312500,11079.500000,11969.375000,12338.937500,13930.812500,14710.437500,13848.937500,0.052896,755,7,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839922,126.9350,100.0000,1.270,0.139,0,8.5970,10364.250000,10904.500000,11553.250000,11857.750000,13721.500000,14185.000000,13112.500000,0.052896,425,94,2018
839923,17.2730,100.0000,0.032,-0.143,0,54.7505,9888.770833,10411.541667,11762.729167,12221.500000,13864.687500,14261.541667,12940.458333,0.164218,1035,93,2018
839924,25.9540,48.9140,0.456,-0.097,0,25.0870,10404.916667,10954.208333,12037.333333,12421.166667,13484.875000,14741.291667,13607.250000,0.118475,1045,92,2018
839925,22.4645,73.9320,2.323,0.039,0,12.7880,8300.833333,8193.500000,8192.500000,7772.833333,7687.500000,7392.666667,7187.166667,0.143288,325,90,2018
839926,20.3190,100.0000,0.654,0.132,0,47.0970,9742.250000,10202.000000,10931.750000,11228.500000,12888.500000,13146.750000,12211.500000,0.104955,855,94,2018

In [20]:
completed_data.to_csv("./final_input/rt.csv")